@model MvcTask.Models.Entity.Review

<div class="article">
    <div class="title">
        @Model.Name
    </div>
    <div class="date">
        @Model.Date
    </div>
    <div class="text">
        @Model.Text
    </div>
</div>
