@model DAO.Model.Review

<div class="review">

    <div class="avatar">
        <img width="50" height="50" class="avatar" src="~/Content/images/user-01.png" alt="">
    </div>

    <div class="comment-info">
        <cite>@Model.Name</cite>

        <div class="comment-meta">
            <time class="comment-time">@Model.Date.ToLongDateString() @Model.Date.ToShortTimeString() </time>
        </div>
    </div>

    <div class="comment-text">
        <p>
            @Model.Text
        </p>
    </div>

</div>