@model IEnumerable<MvcTask.Models.PreviewArticle>
@{
    ViewBag.Title = "Главная";    
}

@section right{
    @Html.Action("Index","Voite")
}

@section body{
    <h2>Статьи</h2>
    <div class="articles">
        @foreach (var i in Model)
        {
            @Html.Partial("PreviewArticle", i)
        }
    </div>
}