@model IEnumerable<DAO.Model.Article>
@{
    ViewBag.Title = "Главная";    
}

@section body{
    <h2>Статьи</h2>
    <div class="articles">
        @foreach (var i in Model)
        {
            @Html.Partial("Article", i)
        }
    </div>
}